<div class="chp-banner--beta u-padding-y--2">
  <div class="chp-banner--beta__body">
    <p class="chp-banner--beta__tag-container">
      <span class="usa-tag chp-banner--beta__tag">Beta</span>
    </p>
    <p class="chp-banner--beta__text">
      This site details the SME-QA hiring practices and pilots discussed in the <a href="https://www.chcoc.gov/content/improving-federal-hiring-through-use-effective-assessment-strategies-advance-mission">2019 OPM memo on Effective Assessments</a>.
    </p>
  </div>
</div>
