<footer class="usa-footer usa-footer--slim chp-footer" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav">
          <ul class="grid-row grid-gap">
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="{{ site.baseurl }}/about/our-process/">Learn More</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="{{ site.baseurl }}/hiring-phases/getting-started/">Get Started</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="{{ site.baseurl }}/case-studies/">Case Studies</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-lg:grid-col-4">
        <div class="grid-row grid-gap mobile-lg:grid-gap-0">
          <div class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
            <a class="chp-footer__changelog-link" href="{{site.baseurl}}/changelog/">Read our change log to see what has changed on this site.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-2">
        <!-- div class="grid-col-auto">
          <img class="usa-footer__logo-img" src="/assets/img/logo-img.png" alt="">
        </div -->
        <div class="grid-col-auto">
          <h3 class="usa-footer__logo-heading">USDS / OPM</h3>
        </div>
      </div>
    </div>
  </div>
</footer>
