<footer class="usa-footer usa-footer--slim chp-footer" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav">
          <ul class="grid-row grid-gap">
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="{{ site.baseurl }}/about/our-process/">Learn More</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="{{ site.baseurl }}/hiring-phases/getting-started/">Get Started</a>
            </li>
            <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="{{ site.baseurl }}/case-studies/">Lessons Learned</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-lg:grid-col-4">
        <div class="grid-row grid-gap mobile-lg:grid-gap-0">
          <div class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
            <a class="chp-footer__changelog-link" href="{{site.baseurl}}/changelog/">Read our change log to see what has changed on this site.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-2">
        <!-- div class="grid-col-auto">
          <img class="usa-footer__logo-img" src="/assets/img/logo-img.png" alt="">
        </div -->
        <div class="grid-col-auto">
          <h3 class="usa-footer__logo-heading">USDS</h3>
          <ul class="usa-unstyled-list chp-footer__sub-list">
            <li>
              <a href="https://www.usds.gov/privacy" target="_blank"><span class="sr-only">Opens in a new window</span>Privacy Policy</a>
            </li>
            <!-- li>
              <a href="https://www.opm.gov/about-us/budget-performance/" target="_blank"><span class="sr-only">Opens in a new window</span>Budget and Performance</a>
            </li>
            <li>
              <a href="https://www.opm.gov/information-management/freedom-of-information-act/" target="_blank"><span class="sr-only">Opens in a new window</span>FOIA</a>
            </li>
            <li>
              <a href="https://www.opm.gov/our-inspector-general/" target="_blank"><span class="sr-only">Opens in a new window</span>Inspector General</a>
            </li>
            <li>
              <a href="https://www.opm.gov/information-management/no-fear-act/" target="_blank"><span class="sr-only">Opens in a new window</span>No Fear Act Data</a>
            </li>
            <li>
              <a href="https://www.opm.gov/information-management/privacy-policy/" target="_blank"><span class="sr-only">Opens in a new window</span>Privacy Policy</a>
            </li>
            <li>
              <a href="http://www.usa.gov/" target="_blank"><span class="sr-only">Opens in a new window</span>USA.gov</a>
            </li -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
