<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture url_path %}{{site.domain}}{{site.baseurl}}{{page.url}}{% endcapture %}
  {% capture page_title %}{%if page.title %}{{ page.title }} | {{ site.title }}{% endif %}{% endcapture %}
  {% capture page_description %}{% if page.description %}{{ page.description }}{% else %}{{ content | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip | truncatewords: 30 }}{% endif %}{% endcapture %}

  <title>{{ site.title }}</title>

  <meta name="description" content="{{ page_description }}" />
  <link rel="canonical" href="{{ url_path }}" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:description" content="{{ page_description }}" />
  <meta property="og:url" content="{{ url_path }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="article" />

  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/stylesheets/styles.css">
  </link>
  {{ include.append }}
</head>