<h3>Choosing SMEs</h3>
<p>
  To assess an estimated 100 applicants, you’ll need around eight SMEs, assuming you’ll assign one SME to conduct each phone interview. To choose SMEs, work with the hiring manager to find the best-suited SMEs to participate in your hiring action, who are also not interested in applying for the position. Potential SMEs should complete a background information form and submit a resume as part of the selection process. Document this information in the case file for the hiring action.
</p>

<form name="sme-selection-checklist" class="smeqa-sme-selection-checklist">
  <h4>Qualities</h4>
  <ul class="smeqa-sme-selection-checklist__list">
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme1" />
        <span class="smeqa-sme-selection-checklist__container">
          Organizational ambassador of knowledge area.
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme2" />
        <span class="smeqa-sme-selection-checklist__container">
          Expertise supports organization's vision and strategic direction.
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme3" />
        <span class="smeqa-sme-selection-checklist__container">
          Articulates and implements best practices.
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme4" />
        <span class="smeqa-sme-selection-checklist__container">
          Provides guidance using expertise to resolve organizational need.
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme5" />
        <span class="smeqa-sme-selection-checklist__container">
          Capable of disseminating info across all levels of organization by translating subject matter terminology.
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme6" />
        <span class="smeqa-sme-selection-checklist__container">
          Been in role long enough for knowledge and skills to be "second nature."
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme7" />
        <span class="smeqa-sme-selection-checklist__container">
          "Go to" person for questions and problems in area of expertise.
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme8" />
        <span class="smeqa-sme-selection-checklist__container">
          Answers not only how, but why
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme9" />
        <span class="smeqa-sme-selection-checklist__container">
          Provides input or creates and executes documentation and training material.
        </span>
      </label>
    </li>
  </ul>

  <h4>Guidelines</h4>
  <p>Generally, SMEs should be:</p>
  <ul class="smeqa-sme-selection-checklist__list">
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme10" />
        <span class="smeqa-sme-selection-checklist__container">
          At or above the grade (GS) level for the advertised role.
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme11" />
        <span class="smeqa-sme-selection-checklist__container">
          An active SME or supervisor, even if they aren’t currently performing the duties of that job. While it's not recommended that hiring managers serve as SMEs for for rated assessments, hiring managers can serve as SMEs for pass/fail resume review.
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme12" />
        <span class="smeqa-sme-selection-checklist__container">
          Readily familiar with the role and required tasks required for the first day on the job, allowing them to evaluate resumes and conduct interviews to gauge proficiency with the competencies.
        </span>
      </label>
    </li>
    <li class="smeqa-sme-selection-checklist__item">
      <label class="smeqa-sme-selection-checklist__label">
        <input type="checkbox" name="sme13" />
        <span class="smeqa-sme-selection-checklist__container">
          Available for at least one entire phase of the hiring action, if not multiple.
        </span>
      </label>
    </li>
  </ul>
</form>
<p>
  Once you choose SMEs, they must sign the <a href="{{ site.baseurl }}/toolkit/getting-started/confidentiality-agreement.pdf">SME Confidentiality Agreement</a> and agree to protect all testing material, including interview questions and required proficiency levels.
</p>
