<table class="usa-table smeqa-timeline">
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 1</th>
    <td class="smeqa-timeline__data">Job analysis workshop.</td>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 2</th>
    <td class="smeqa-timeline__data is-alt">
      <ul>
        <li>Circulate workshop output.</li>
        <li>Draft job announcement.</li>
        <li>Begin recruitment.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 3</th>
    <td class="smeqa-timeline__data">
      <ul>
        <li>Post Job Announcement (until midnight after 100 applicants).</li>
        <li>SME resume review training.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 4</th>
    <td class="smeqa-timeline__data is-alt">
      SMEs conduct resume review.
    </td>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 5</th>
    <td class="smeqa-timeline__data">
      HR reviews notes and sends tiebreakers to other SMEs.
    </td>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 6</th>
    <td class="smeqa-timeline__data is-alt">
        HR reviews notes, begins scheduling interviews, and trains SMEs doing Interview 1.
    </td>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 7</th>
    <td class="smeqa-timeline__data" rowspan="3">
      <ul>
        <li>SMEs conduct interview 1.</li>
        <li>HR reviews notes, schedules round 2 interviews, and trains SMEs doing Interview 2.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 8</th>
    <td class="smeqa-timeline__data is-alt" rowspan="3">
      <ul>
        <li>SMEs conduct interview 2.</li>
        <li>HR reviews notes</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 9</th>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 10</th>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 11</th>
    <td class="smeqa-timeline__data" rowspan="2">
      <ul>
        <li>HR issues certs.</li>
        <li>Hiring managers hold final placement interviews and tell HR which applicants they want</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 12</th>
  </tr>
  <tr>
    <th class="smeqa-timeline__header" scope="col">Week 13</th>
    <td class="smeqa-timeline__data">
      <ul>
        <li>HR sends offers.</li>
        <li>Applicants confirm or decline within 48 hours.</li>
        <li>HR creates new certificates with next category for the HM to consider.</li>
        <li>Repeat process; once hiring manager is done, share certificate with other interested offices at the agency.</li>
      </ul>
    </td>
  </tr>
</table>
