<div class="grid-container chp-meta">
  <div class="grid-row grid-gap">
    {% if page.roles %}
    <div class="tablet:grid-col-6 chp-meta__section">
      <h5 class="chp-meta__title">Participants</h5>
      <ul class="chp-meta__list">
        {% for role in page.roles %}
        <li class="chp-meta__item">
          {{ role }}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if page.duration %}
    <div class="tablet:grid-col-6 chp-meta__section">
      <h5 class="chp-meta__title">Time</h5>
      <p class="chp-meta__desc">{{ page.duration }}</p>
    </div>
    {% endif %}

    {% if page.outputs %}
    <div class="tablet:grid-col-full chp-meta__section">
      <h5 class="chp-meta__title">Output</h5>
      <ul class="chp-meta__list">
        {% for output in page.outputs %}
        <li class="chp-meta__item">
          {{ output }}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
