---
layout: article
permalink: /hiring-phases/first-interview/
section: hiring-phases
title: First interview
sidenav: hiring-phases
---

<h2 id="interviewing-applicants-for-technical-assessment-one">
  Interviewing Applicants for Technical Assessment One
</h2>
<h3 id="smes">Subject Matter Experts</h3>
{% assign sme-tasks = site.sme-tasks | where: "phase","first-interview" | where: "role","sme" %}
<dl class="chp-page-list">
  {% for task in sme-tasks %}
  <dt class="chp-page-list__title"><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></dt>
  <dd class="chp-page-list__desc">{{ task.description }}</dd>
  {% endfor %}
</dl>

<h4>Rating Guide</h4>
<dl class="chp-page-list">
{% assign guides = site.rating-guide | where: "phases","first-interview" %}
{% for guide in guides %}
  <dt class="chp-page-list__title"><a href="{{ site.baseurl }}{{ guide.permalink }}">{{ guide.title }}</a></dt>
  <dd class="chp-page-list__desc">{{ guide.description }}</dd>
{% endfor %}
</dl>

<!-- h3 id="hr-specialists-1">HR Specialists</h3 -->
