---
layout: article
permalink: /hiring-phases/reviewing-resumes/
section: hiring-phases
title: Reviewing Resumes
sidenav: hiring-phases
intro: As a pre-qualifying step for applicants to move to interview assessments, HR reviews all applications to remove applicants who are ineligible for federal employment or did not submit a resume. For remaining applicants, SMEs review the resumes to determine if technical competencies warrant further assessments.
roles: [Human Resources, Subject-Matter-Experts]
duration: Approximately 4 days
---

<p class="usa-intro">
  {{ page.intro }}
</p>

<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  <ul class="chp-toolkit__list">
    <li class="chp-toolkit__item">
      <a class="chp-toolkit__link">
        Training Agenda and PowerPoint
      </a>
    </li>
    <li class="chp-toolkit__item">
      <a class="chp-toolkit__link">
        Sample Resumes
      </a>
    </li>
    <li class="chp-toolkit__item">
      <a href="{{site.baseurl}}/docs/sme-confidentiality-agreement.pdf" class="chp-toolkit__link">
        SME Confidentiality Agreement
      </a>
    </li>
    <li class="chp-toolkit__item">
      <a href="{{ site.baseurl }}/docs/sme-background-info-sheet.docx" class="chp-toolkit__link">
        SME Background Info Sheet
      </a>
    </li>
    <li class="chp-toolkit__item">
      <a href="{{site.baseurl}}/rating-guide/#resume-review-ratings" class="chp-toolkit__link">
        Resume Review Rating Guide
      </a>
    </li>
  </ul>
</div>

<h2 id="prep-for-resume-reviews">Preparing for Resume Reviews</h2>
<h3 id="hr-specialists-1">HR Specialists</h3>
<p>
  To manage the applicant pipeline for subject matter experts (SMEs), you'll use
  existing features in USA Staffing.
</p>
<p>
  When SMEs finish their resume reviews and interviews, they will return the
  list of applicants to you. It's important to trust the SMEs' judgment and not
  reverse their decisions. If you're concerned about a score, make a note of it
  to discuss during the next pilot checkpoint meeting.
</p>

{% assign hr-tasks = site.hr-tasks | where: "phase","reviewing-resumes" | where: "sub-phase","prep-for-resume-reviews" | where: "role","hr" %}
<ul>
  {% for task in hr-tasks %}
  <li><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></li>
  {% endfor %}
</ul>

<h2 id="reviewing-resumes">Reviewing Resumes</h2>
<h3 id="smes">Subject Matter Experts</h3>
<p>
  Before you begin you must first complete the <a href="{{site.baseurl}}/docs/sme-confidentiality-agreement.pdf">confidentiality agreement</a> and return it to your HR person.
</p>

{% assign sme-tasks = site.sme-tasks | where: "phase","reviewing-resumes" | where: "role","sme" %}
<ul>
  {% for task in sme-tasks %}
  <li><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></li>
  {% endfor %}
</ul>

<h2 id="reviewing-resume-documentation-and-ratings">
  Reviewing Resume Documentation and Ratings
</h2>
<h3 id="hr-specialists-2">HR Specialists</h3>
{% assign hr-tasks-two = site.hr-tasks | where: "phase","reviewing-resumes" | where: "sub-phase","reviewing-resume-documentation-and-ratings" | where: "role","hr" %}
<ul>
  {% for task in hr-tasks-two %}
  <li><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
