---
layout: article
permalink: /hiring-phases/reviewing-resumes/
section: hiring-phases
title: Reviewing Resumes
sidenav: hiring-phases
intro: Before SMEs begin reviewing the resumes, remove applicants who are ineligible for federal employment or who did not include a resume with their application. Two SMEs will independently review each remaining applicant’s resume to determine whether they adequately reflect the core competencies and proficiencies to warrant the first of two phone assessment interviews.
roles: [Human Resources, Subject-Matter-Experts]
duration: Approximately 4 days
---

<p class="usa-intro">
  {{ page.intro }}
</p>

<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  <ul class="chp-toolkit__list">
    <li class="chp-toolkit__item">
      <a class="chp-toolkit__link">
        Training Agenda and PowerPoint
      </a>
    </li>
    <li class="chp-toolkit__item">
      <a class="chp-toolkit__link">
        Sample Resumes
      </a>
    </li>
    <li class="chp-toolkit__item">
      <a href="{{site.baseurl}}/docs/sme-confidentiality-agreement.pdf" class="chp-toolkit__link">
        SME Confidentiality Agreement
      </a>
    </li>
    <li class="chp-toolkit__item">
      <a href="{{ site.baseurl }}/docs/sme-background-info-sheet.docx" class="chp-toolkit__link">
        SME Background Info Sheet
      </a>
    </li>
    <li class="chp-toolkit__item">
      <a href="{{site.baseurl}}/rating-guide/#resume-review-ratings" class="chp-toolkit__link">
        Resume Review Rating Guide
      </a>
    </li>
  </ul>
</div>

<h2 id="prep-for-resume-reviews">Preparing for Resume Reviews</h2>
<p>
  To manage the applicant pipeline for subject matter experts (SMEs), you'll use
  existing features in USA Staffing.
</p>
<p>
  When SMEs finish their resume reviews and interviews, they will return the
  list of applicants to you. It's important to trust the SMEs' judgment and not
  reverse their decisions. If you're concerned about a score, make a note of it
  to discuss during the next pilot checkpoint meeting.
</p>

{% assign hr-tasks = site.hr-tasks | where: "phase","reviewing-resumes" | where: "sub-phase","prep-for-resume-reviews" | where: "role","hr" %}
<ul>
  {% for task in hr-tasks %}
  <li><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></li>
  {% endfor %}
</ul>

<h2 id="reviewing-resume-documentation-and-ratings">
  Reviewing Resume Documentation and Ratings
</h2>
{% assign hr-tasks-two = site.hr-tasks | where: "phase","reviewing-resumes" | where: "sub-phase","reviewing-resume-documentation-and-ratings" | where: "role","hr" %}
<ul>
  {% for task in hr-tasks-two %}
  <li><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
