---
layout: article
permalink: /hiring-phases/tq1/
section: hiring-phases
title: TQ1 - First interview
sidenav: hiring-phases
---

<h2 id="interviewing-applicants-for-technical-assessment-one">
  Interviewing Applicants for Technical Assessment One
</h2>
<h3 id="smes">Subject Matter Experts</h3>
{% assign sme-tasks = site.sme-tasks | where: "phase","tq1" | where: "role","sme" %}
<ul>
  {% for task in sme-tasks %}
  <li><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></li>
  {% endfor %}
</ul>

<h4>Rating Guide</h4>
<dl class="chp-page-list">
{% assign guides = site.rating-guide | where: "phases","tq1" %}
{% for guide in guides %}
<dt class="chp-page-list__title"><a href="{{ site.baseurl }}{{ guide.permalink }}">{{ guide.title }}</a></dt>
<dd class="chp-page-list__desc">{{ guide.description }}</dd>
{% endfor %}
</dl>

<!-- h3 id="hr-specialists-1">HR Specialists</h3 -->
