---
layout: article
permalink: /hiring-phases/phone-assessment-interviews/
section: hiring-phases
sidenav: hiring-phases
phase: phone-assessment-interviews
title: Phone Assessment Interviews
intro: SMEs will conduct up to two rounds of structured phone interviews to assess remaining applicants against the required competencies and proficiencies, with a single SME conducting each interview. Applicants who meet the basic required qualifications after that interview receive a second interview with a different SME. Those who receive an overall passing score during both phone assessment interviews are considered qualified for the position.
roles: [hr, sme]
---

<p class="usa-intro">
  {{ page.intro }}
</p>

{% include phase-meta.html %}

<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  {% include toolkit/phone-assessment-interviews.html %}
</div>

<h2 id="preparing-for-interview-one">
  Preparing for Interview One
</h2>
{% assign hr-tasks = site.hr-tasks | where: "phase","first-interview" | where: "sub-phase","preparing-for-interview-one" | where: "role","hr" %}
<dl class="chp-page-list">
  {% for task in hr-tasks %}
  <dt class="chp-page-list__title"><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></dt>
  <dd class="chp-page-list__desc">{{ task.description }}</dd>
  {% endfor %}
</dl>

<h2 id="reviewing-first-interview-documentation-and-ratings">
  Reviewing First Interview Documentation and Ratings
</h2>
{% assign hr-tasks = site.hr-tasks | where: "phase","first-interview" | where: "sub-phase","reviewing-first-interview-documentation-and-ratings" | where: "role","hr" %}
<dl class="chp-page-list">
  {% for task in hr-tasks %}
  <dt class="chp-page-list__title"><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></dt>
  <dd class="chp-page-list__desc">{{ task.description }}</dd>
  {% endfor %}
</dl>

<h2 id="preparing-for-interview-two">
  Preparing for Interview Two
</h2>
{% assign hr-tasks = site.hr-tasks | where: "phase","second-interview" | where: "sub-phase","preparing-for-interview-two" | where: "role","hr" %}
<dl class="chp-page-list">
  {% for task in hr-tasks %}
  <dt class="chp-page-list__title"><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></dt>
  <dd class="chp-page-list__desc">{{ task.description }}</dd>
  {% endfor %}
</dl>

<h2 id="reviewing-second-interview-documentation-and-ratings">
  Reviewing Second Interview Documentation and Ratings
</h2>
{% assign hr-tasks = site.hr-tasks | where: "phase","second-interview" | where: "sub-phase","reviewing-second-interview-documentation-and-ratings" | where: "role","hr" %}
<dl class="chp-page-list">
  {% for task in hr-tasks %}
  <dt class="chp-page-list__title"><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></dt>
  <dd class="chp-page-list__desc">{{ task.description }}</dd>
  {% endfor %}
</dl>
