---
layout: article
permalink: /toolkit/
section: toolkit
sidenav: hiring-phases
title: Toolkit
---

<div class="chp-toolkit">
  <h3>Getting Started</h3>
  {% include toolkit/getting-started.html %}

  <h3>Assessment Strategy</h3>
  {% include toolkit/assessment-strategy.html %}

  <h3>Job Analysis Workshop</h3>
  {% include toolkit/job-analysis.html %}

  <h3>Job Announcement</h3>
  {% include toolkit/job-announcement.html %}

  <h3>Reviewing Resumes</h3>
  {% include toolkit/resume-review.html %}

  <h3>Assessments</h3>
  {% include toolkit/assessments.html %}

  <h3>Issuing a Certificate</h3>
  {% include toolkit/certificate.html %}
</div>
