---
layout: article
permalink: /hiring-phases/job-analysis/
section: hiring-phases
sidenav: hiring-phases
phase: job-analysis
title: Job analysis workshop
intro: In a multi-day job analysis workshop with SMEs, you'll help SMEs and hiring manager(s) identify and define the required competencies and proficiency levels for the position. The group will then write two assessments that can assess the required proficiency levels. SMEs will use the assessments to determine whether applicants meet the technical qualifications for the job.
roles: [hr, sme, hiring-mgr, io-psych]
duration: 2.5 to 3 days (16 hours)
outputs:
  - SME and HR agreement on required duties, competencies, and proficiency levels in the position that any applicant deemed miniamlly qualified can perform the job from day one
  - Proficiency descriptions for each competency, including the proficiency required for the hiring action
  - Assessment questions (or other exam materials)
  - Job analysis worksheet (for hiring action case file), and completed worksheet in the right format
  - SME decisions about resume review page length (recommended 2-3 pages) and technical recency requirements (see Assessment Strategy phase)
  - For Delegated Examining, use two proficiency levels (Meets & Exceeds) per competency, per grade
best practice:
  - A minimum of four without exceeding six, core competencies and their definitions
  - Develop good interview sample responses
  - Calibrate SMEs to proficiency levels by practicing resume review and application materials against sample resumes and portfolios (remove any PII)
  - SMEs should practice assessment questions (written and/or structured interview) to gauge proper time limit, and to anticipate applicant responses to have stronger follow-up questions
  - When applicable for the job, SMEs should dicuss if technical receny needs to be included in the qualifications
  - Hiring manager is present
pro-tips:
  - Group and distribute SMEs to maximize discussion and avoid strong personalities overhwhelming small groups.
  - If conducting remotely, use real-time collaborative software (i.e., MAX Community Word, FunRetro {preferred}, MURAL)
  - Multiple GS-levels are allowed as long as the different grades require the same competencies, just at different proficiency levels (Unfamiliar, Familiar, Expert, Master).
  - For Direct Hire, use one proficiency level per competency, per grade
---

<p class="usa-intro">
  {{ page.intro }}
</p>

{% include phase-meta.html %}

<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  {% include toolkit/job-analysis.html %}
</div>

<h3>About Core Competencies and Proficiencies</h3>
<p>
  <em>Core competencies</em> are the professional skills an applicant must possess from their first day in the position you're hiring for, while <em>proficiencies</em> gauge how skilled an applicant is with the given competency depending on years of experience, the scale of the organizations they've worked in, or the complexity of the projects they've participated in.
</p>
<p>
  The job analysis workshop bridges what may be a standardized position description (PD) with the actual job your agency is hiring for. By defining your core competencies and proficiencies, your group will have a shared understanding of the core competencies and proficiencies an applicant needs to be successful in performing the duties for a given role. You'll also:
</p>
<ul class="usa-list">
  <li>Determine the assessment criteria and qualifications for your role(s).</li>
  <li>Develop structured interview questions.</li>
  <li>Decide how to accurately describe your role to applicants in your job announcement.</li>
</ul>

<h3>Preparing Your Training Session</h3>

<p>Your job analysis workshop should be a total of 16 active hours, which typically spans 2.5 days with breaks. Send calendar invites to as many SMEs and hiring managers who will participate in your hiring action as possible.</p>
<ul class="usa-list">
  <li>Update the <a href="{{site.baseurl}}/toolkit/job-analysis/job-analysis-presentation.pptx">presentation template</a> with your agency's specific information.</li>
  <li>Update and print the <a href="{{site.baseurl}}/toolkit/job-analysis/agenda-for-job-analysis-workshop/">agenda</a> as necessary for distribution at the workshop.</li>
  <li>Identify and prepare 2-4 resumes for an exercise in the workshop. Resumes should be marginally strong to force discussion, and the resumes you pick should inclulde these categories: short (2 pages or less), long (over 5 pages), private sector background, public sector background. Instructions to gather resumes are <a href="{{site.baseurl}}/hiring-phases/resume-review/training/#setting-up-resume-review-training">here</a>.</li>
  <li>Print the <a href="{{site.baseurl}}/toolkit/job-analysis/sample-competencies-proficiencies.docx">Sample Competencies</a> to distribute at the workshop as supporting material.</li>
  <li>Think through the SMEs that will be attending and how to group them to avoid strong personalities overwhelming small groups.</li>
  <li>Decide in advance who will handle technical issues and present each section of slides.</li>
</ul>

{% assign page-list = '' | split: '' %}
{% assign sub-pages = site.pages | where: "phase","job-analysis" | sort: "sub-phase-order" %}
{% for sub-page in sub-pages %}
  {% if sub-page.sub-phase-order %}
    {% assign page-list = page-list | push: sub-page %}
  {% endif %}
{% endfor %}

{% for sub-page in page-list %}
  <h3>
    <a href="{{ site.baseurl }}{{ sub-page.permalink }}">{{ sub-page.title }}</a>
  </h3>
  <p>
    {{ sub-page.intro }}
  </p>
{% endfor %}
