<ul class="chp-toolkit__list">
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/assessment-strategy/understanding-the-opm-pilot-process.pdf" target="_blank" class="chp-toolkit__link">{% include svg/file-pdf.svg %}Understanding the OPM Pilot Process
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/assessment-strategy/rating-guide.docx" target="_blank" class="chp-toolkit__link">{% include svg/file-word.svg %}Rating Guide
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/assessment-strategy/resume-review-instructions.docx" target="_blank" class="chp-toolkit__link">{% include svg/file-word.svg %}Resume Review Instructions
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/assessment-strategy/developing-core-competencies.docx" target="_blank" class="chp-toolkit__link">{% include svg/file-word.svg %}Developing Core Competencies
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/assessment-strategy/assessment-strategy-template.docx" target="_blank" class="chp-toolkit__link">{% include svg/file-word.svg %}Assessment strategy template
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/assessment-strategy/phone-interview-template.docx" target="_blank" class="chp-toolkit__link">{% include svg/file-word.svg %}Phone Interview Template
    </a>
  </li>
</ul>
