<ul class="chp-toolkit__list">
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/getting-started/sme-qa-1-pager.pdf" class="chp-toolkit__link" target="_blank">{% include svg/file-pdf.svg %}SME-QA Phase 1 Pilot Overview
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/getting-started/sme-recruitment-email/" class="chp-toolkit__link" target="_blank">{% include svg/file-powerpoint.svg %}SME Recruitment Email
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/getting-started/sme-qa-for-participants.pptx" class="chp-toolkit__link" target="_blank">{% include svg/file-powerpoint.svg %}SME-QA Overview for Participants
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/getting-started/sme-background-info-sheet.docx" class="chp-toolkit__link" target="_blank">{% include svg/file-word.svg %}SME background information template
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/getting-started/confidentiality-agreement.pdf" class="chp-toolkit__link" target="_blank">{% include svg/file-pdf.svg %}Confidentiality agreement
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/getting-started/baseline-data-to-collect.xlsx" class="chp-toolkit__link" target="_blank">{% include svg/file-excel.svg %}Baseline data to collect
    </a>
  </li>
</ul>
