<ul class="chp-toolkit__list">
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/agenda-for-job-analysis-workshop/" class="chp-toolkit__link">{% include svg/file-alt.svg %}Job Analysis Workshop Agenda (multi-day)
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/job-analysis-day-1-presentation.pptx" class="chp-toolkit__link">{% include svg/file-powerpoint.svg %}Day 1 Job Analysis Workshop Presentation
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/job-analysis-day-2-presentation.pptx" class="chp-toolkit__link">{% include svg/file-powerpoint.svg %}Day 2 Job Analysis Workshop Presentation
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/sample-competencies-proficiencies.pdf" class="chp-toolkit__link">{% include svg/file-pdf.svg %}Sample Competencies (pdf)</a>
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/sample-competencies-proficiencies.docx" class="chp-toolkit__link">{% include svg/file-word.svg %}Sample Competencies (doc)</a>
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/sample-interview-questions.pdf" class="chp-toolkit__link">{% include svg/file-pdf.svg %}Sample Interview Questions</a>
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/sample-job-analysis-for-case-file.docx" class="chp-toolkit__link">{% include svg/file-word.svg %}Sample Job Analysis for Case File</a>
    </a>
  </li>
</ul>
