<ul class="chp-toolkit__list">
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/SME_JobAnalysis_Day1_Template.pptx" class="chp-toolkit__link">
      Day 1 Job Analysis Workshop PowerPoint
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/workshop-agenda-day-1/" class="chp-toolkit__link">
      Day 1 Job Analysis Workshop Agenda
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/SME_JobAnalysis_Day2_Template.pptx" class="chp-toolkit__link">
      Day 2 Job Analysis Workshop PowerPoint
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/workshop-agenda-day-2/" class="chp-toolkit__link">
      Day 2 Job Analysis Workshop Agenda
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/sample-competencies/" class="chp-toolkit__link">
      Sample Competencies and Proficiency Levels
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-analysis/sample-interview-questions/" class="chp-toolkit__link">
      Sample Interview Questions
    </a>
  </li>
</ul>
