<ul class="chp-toolkit__list">
  <li class="chp-toolkit__item">
    <a href="https://usajobs.github.io/ATP-Support/job-announcement-playbook/" target="_blank" class="chp-toolkit__link">{% include svg/file-code.svg %}Job announcement playbook</a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/job-announcement/technology-job-boards/" class="chp-toolkit__link">{% include svg/file-alt.svg %}Useful job boards for technical positions
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="https://www.usajobs.gov/GetJob/ViewDetails/532244000" target="_blank" class="chp-toolkit__link">{% include svg/file-code.svg %}National Park Service job announcement</a>
  </li>
  <li class="chp-toolkit__item">
    <a href="https://www.usajobs.gov/GetJob/ViewDetails/529652500" target="_blank" class="chp-toolkit__link">{% include svg/file-code.svg %}Office of the Secretary of HHS job announcement</a>
  </li>
</ul>
