<ul class="chp-toolkit__list">
  <li class="chp-toolkit__item">
    <a class="chp-toolkit__link" href="{{ site.baseurl }}/toolkit/phone-assessment-interviews/phone-interview-training-presentation/">{% include svg/file-powerpoint.svg %}Phone Interview Training Presentation
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a class="chp-toolkit__link" href="{{ site.baseurl }}/toolkit/phone-assessment-interviews/phone-interview-training-agenda/">{% include svg/file-alt.svg %}Phone Interview Training Agenda
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{ site.baseurl }}/toolkit/assessment-strategy/phone-interview-template.docx" target="_blank" class="chp-toolkit__link">{% include svg/file-word.svg %}Phone Interview Template
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/email-template-sme-availability/" class="chp-toolkit__link">{% include svg/file-email.svg %}Email to SMEs for Interview Availability
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/example-sme-availability-worksheet/" class="chp-toolkit__link">{% include svg/file-excel.svg %}SME Interview Availability Worksheet
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/sme-recusal-email-template/" class="chp-toolkit__link">{% include svg/file-email.svg %}SME Recusal Email Template
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/email-template-app-first-interview-sched/" class="chp-toolkit__link">{% include svg/file-email.svg %}Email to Applicants Requesting First Interview
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/email-template-app-first-interview-confirm/" class="chp-toolkit__link">{% include svg/file-email.svg %}Email to Applicants Confirming First Interview
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/email-template-app-second-interview-sched/" class="chp-toolkit__link">{% include svg/file-email.svg %}Email to Applicants Requesting Second Interview
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/email-template-app-second-interview-confirm/" class="chp-toolkit__link">{% include svg/file-email.svg %}Email to Applicants Confirming Second Interview
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/example-applicant-scheduling-worksheet/" class="chp-toolkit__link">{% include svg/file-excel.svg %}Applicant Scheduling Worksheet
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/interview-assessment-ratings/" class="chp-toolkit__link">{% include svg/file-alt.svg %}Interview Assessment Ratings
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/interview-results-key/" class="chp-toolkit__link">{% include svg/file-alt.svg %}Interview Results Key
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/interview-scheduling-instructions/" class="chp-toolkit__link">{% include svg/file-alt.svg %}Scheduler Instructions
    </a>
  </li>
  <li class="chp-toolkit__item">
    <a href="{{site.baseurl}}/toolkit/phone-assessment-interviews/personal-relationships/" class="chp-toolkit__link">{% include svg/file-alt.svg %}Guidance on Personal Relationships with Applicants
    </a>
  </li>
</ul>
