---
layout: hiring-action
section: actions
permalink: /info/data-govwide/
header: Data Science Positions
title: Data Science Strategist positions open across the federal government
joa-url: https://www.usajobs.gov/GetJob/ViewDetails/566005100
navigation-link: https://strategy.data.gov/
navigation-title: Federal Data Strategy
joa-title: Data Scientist Job Announcement
---

{% assign agencies = site.data.hiring-actions.data %}

<section class="usa-hero smeqa-cx__hero" aria-label="Introduction">
  <div class="grid-container">
    <h1>
      Use your Data Science skills in the federal government
    </h1>
    <h4>
      Apply once to be considered for data science opportunities across the federal government
    </h4>
    <a href="{{ page.joa-url }}" class="usa-button usa-button--secondary" target="_blank">USAJOBS page (not posted yet)</a>
  </div>
</section>
<div class="grid-container">
  <div class="grid-row grid-gap">
    <main id="main-content" role="main" class="margin-bottom-9 padding-y-3 padding-x-2">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col">
          <h4>What to know as you read the positions below</h4>
          <ul>
            <li>Each of these unique roles requires the competencies and experience described in the <a href="{{ page.joa-url }}" target="_blank">Data Science posting</a>.</li>
            <li>GS is an abbreviation for "General Schedule", a federal government pay scale that agencies use to set pay bands. The number following GS is <a href="https://www.usajobs.gov/Help/faq/pay/series-and-grade/" target="_blank">a grade and sets the pay level</a> and qualifications for the job.</li>
            <li>Data Science positions below may be at the GS 13 or 14 level. The number following each GS level is the number of positions this agency is seeking to fill at this level, and <b>is subject to change baseed on the needs of the hiring agencies.</b></li>
            <li>To apply to any of the positions below, <a href="{{ page.joa-url }}" target="_blank">apply to this job announcement (not yet open)</a>. During the application process you will be asked which positions you'd like to be considered for, which locations you'd accept, and your minimum GS level.</li>
            <li>A panel of subject matter experts will determine if you are qualified at the GS 13 or 14 level. You may accept a position for a level that is below the one you are qualified for.</li>
            <li>Visit our <a href="{{ site.baseurl }}/info/data-govwide/privacy/">Privacy Act statement</a>.</li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <aside class="sidenav">
            <h4 class="smeqa-cx__agencies">Agencies who are hiring</h4>
            <ul class="site-sidenav usa-sidenav">
              {% for org in agencies %}
                {% assign num = forloop.index %}
              <li class="usa-sidenav__item is-current">
                <a href="#{{ org.agency-abbrev }}-{{ num }}">
                  <b>{{ org.agency-abbrev }}</b>: {{ org.program-office }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </aside>
        </div>
      </div>

      {% for org in agencies %}
        {% assign num = forloop.index %}
      <div class="smeqa-cx-agency">
        <h3 class="smeqa-cx-agency__name" id="{{ org.agency-abbrev }}-{{ num }}">
          {{ org.agency }}
        </h3>
        <h2 class="smeqa-cx-agency__po">
          <a href="{{ org.program-office-link }}" target="_blank">
            {{ org.program-office }}
          </a>
        </h2>
        <p class="smeqa-cx-agency__summary">
          {{ org.role-summary }}
        <p>
        <div class="smeqa-cx-agency__overview">
          <div class="smeqa-cx-agency__details">
            <h3 class="smeqa-cx-agency__header">
              Overview
            </h3>
            <div class="smeqa-cx-agency-position">
              <ul class="smeqa-cx-agency-position__list">
                <li class="smeqa-cx-agency-position__item">
                  <h5 class="smeqa-cx-agency-position__header">
                    Open positions at grade level
                  </h5>
                  {% if org.open-positions.size > 1 %}
                  <ul class="smeqa-cx-agency__grades">
                    {% for grade in org.open-positions %}
                    <li><strong>GS-{{ grade.level }}</strong>: {{grade.open }}</li>
                    {% endfor %}
                  </ul>
                  {% else %}
                    <p class="smeqa-cx-agency-position__value">
                    {% assign grade = org.open-positions.first %}
                      <strong>GS-{{ grade.level }}</strong>: {{grade.open }}
                    </p>
                  {% endif %}
                </li> 
                 <li class="smeqa-cx-agency-position__item">
                  <h5 class="smeqa-cx-agency-position__header">
                    Promotion potential
                  </h5>
                  <p class="smeqa-cx-agency-position__value">
                    {{ org.promotion-potential }}
                  </p>
                </li>
              </ul>
              <ul class="smeqa-cx-agency-position__list">
                <li class="smeqa-cx-agency-position__item">
                  <h5 class="smeqa-cx-agency-position__header">
                  {% if org.security-clerance %}
                  Security clearance
                  {% else %}
                    Position sensitivity &amp; risk
                  {% endif %}
                  </h5>
                  <p class="smeqa-cx-agency-position__value">
                  {% if org.security-clerance %}
                    {{ org.security-clerance }}
                  {% else %}
                    {{ org.sensitivity-and-risk }}
                  {% endif %}
                  </p>
                </li>
                <li class="smeqa-cx-agency-position__item">
                  <h5 class="smeqa-cx-agency-position__header">
                    Drug test required
                  </h5>
                  <p class="smeqa-cx-agency-position__value">
                    {{ org.drug-test }}
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="smeqa-cx-agency__locations">
            <h3 class="smeqa-cx-agency__header">
              Locations
            </h3>
            <ul class="smeqa-cx-agency-position__list">
            {% for location in org.locations %}
              <li class="smeqa-cx-agency-position__item">
                <p class="smeqa-cx-agency-position__location">
                  {{ location.name }}
                </p>
              </li>
            {% endfor %}
              <li class="smeqa-cx-agency-position__item">
                <h5 class="smeqa-cx-agency-position__header">
                  Relocation paid
                </h5>
                <p class="smeqa-cx-agency-position__value">
                  {{ org.relocation }}
                </p>
              </li>
              <li class="smeqa-cx-agency-position__item">
                <h5 class="smeqa-cx-agency-position__header">
                  Telework eligible
                </h5>
                <p class="smeqa-cx-agency-position__value">
                  {{ org.telework }}
                </p>
              </li>
              <li class="smeqa-cx-agency-position__item">
                <h5 class="smeqa-cx-agency-position__header">
                  Travel required
                </h5>
                <p class="smeqa-cx-agency-position__value">
                  {% if org.travel-occassional %}
                  Occasional travel - You may be expected to travel for this position.
                  {% else %}
                    {{ org.travel-percentage }} of the time
                  {% endif %}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </main>
  </div>
</div>
