---
layout: article
permalink: /hiring-phases/reviewing-resumes/
section: hiring-phases
sidenav: hiring-phases
phase: reviewing-resumes
title: Reviewing Resumes
intro: Before SMEs begin reviewing the resumes, remove applicants who are ineligible for federal employment or who did not include a resume with their application. Two SMEs will independently review each remaining applicant’s resume to determine whether they adequately reflect the core competencies and proficiencies to warrant the first of two phone assessment interviews.
roles: [hr, sme]
duration: Approximately 4 days
---

<p class="usa-intro">
  {{ page.intro }}
</p>

{% include phase-meta.html %}

<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  {% include toolkit/reviewing-resumes.html %}
</div>

<div class="usa-alert usa-alert--info" >
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">Do not conduct a separate HR minimum qualification review.</h3>
    <p class="usa-alert__text">
      After SMEs have finished reviewing resumes, do not conduct a separate minimum qualification review. For more information, see "<a href="{{ site.baseurl }}/about/differences/#sme-assessment">How SME-QA is Different</a>."
    </p>
  </div>
</div>

{% assign page-list = '' | split: '' %}
{% assign sub-pages = site.pages | where: "phase","reviewing-resumes" | sort: "sub-phase-order" %}
{% for sub-page in sub-pages %}
  {% if sub-page.sub-phase-order %}
    {% assign page-list = page-list | push: sub-page %}
  {% endif %}
{% endfor %}

{% for sub-page in page-list %}
  <h3>
    <a href="{{ site.baseurl }}{{ sub-page.permalink }}">{{ sub-page.title }}</a>
  </h3>
  <p>
    {{ sub-page.intro }}
  </p>
{% endfor %}

<!--
{% assign hr-tasks = site.hr-tasks | where: "phase","reviewing-resumes" | where: "sub-phase","prep-for-resume-reviews" | where: "role","hr" %}
<ul>
  {% for task in hr-tasks %}
  <li><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></li>
  {% endfor %}
</ul>

<h2 id="reviewing-resume-documentation-and-ratings">
  Reviewing Resume Documentation and Ratings
</h2>
{% assign hr-tasks-two = site.hr-tasks | where: "phase","reviewing-resumes" | where: "sub-phase","reviewing-resume-documentation-and-ratings" | where: "role","hr" %}
<ul>
  {% for task in hr-tasks-two %}
  <li><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
-->
