/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Our title is a bit long
.usa-header--basic .usa-navbar {
  @include at-media(desktop) {
    width: 40%;
  }
}

.chp-home-hero {
  @include u-bg('blue-cool-30');

  &__body {
    @include u-padding-y(4);
  }

  &__title,
  &__desc {
    // @include u-text('white');
  }

  &__callout {
    @include u-margin-y(2);
    @include u-font-size('body', 'lg');
  }

  &__lead {
    @include u-font-size('body', 'md');
    max-width: inherit;
  }
}


.chp-home-certs {
  position: relative;
  text-align: center;
  @include u-padding-y(5);
  width: 100%;

  @include at-media('mobile-lg') {
    @include grid-col(6);
  }

  &__stat {
    @include u-font-size('body', '3xl');
  }

  &__desc {
    @include u-font-size('body', 'lg');
  }
}

.chp-home-certs::after {
  content: "";
  background-image: url(../img/solid/times.svg);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.chp-home {
  &__sub-title {
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 400;
  }
}

.chp-home-features {
  &__row {
    @include grid-row();
    @include grid-gap(3);
  }

  &__container {
    @include at-media('tablet') {
      @include grid-col(6);
    }
    @include at-media('tablet-lg') {
      @include grid-col(4);
    }
  }
}

.chp-home-featured {
  display: block;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
  transition: all 0.333s ease-out 0s;
  border-radius: 4px;
  text-decoration: none;
  @include u-text('black');
  @include u-padding(3);

  &:visited {
    @include u-text('black');
  }

  &:hover {
    transform: translate3d(0px, -1px, 0px);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px, rgba(0, 0, 0, 0.18) 0px 4px 11px;
  }

  &__figure {
    flex-shrink: 0;
    margin: 0;
    @include u-padding-y(3);

    svg {
      width: 4rem;
      fill: color('blue-cool-30');
    }
  }

  &__body {
    flex: 1;
    min-width: 0;
    @include u-font-size('body', 'lg');
  }
}

.chp-banner--beta {
  background-color: color('gold-20v');

  &__body {
    @include grid-container;
    margin: 0 auto;
    @include u-padding(2);
  }

  &__text {
    margin: 0;
    @include u-font-size('body', 'md');
    max-width: inherit;
  }

  &__link {
    font-weight: bold;
    text-decoration: none;

    &:visited {
      color: color('blue-60v');
    }
  }
}

.chp-article .chp-toolkit {
  @include u-margin-y(6);

  &__title {
    position: relative;
    color: color('blue-cool-50v');

    &::before {
      content: '';
      position: absolute;
      height: 4px;
      top: -1rem;
      left: 0px;
      width: 100%;
      background-color: color('blue-cool-50v');
    }
  }

  &__list {
    column-count: 2;
    column-gap: units(2);
  }
}

.process-steps h3 {
  position: relative;
  padding-left: units(5);
}

.process-steps h3:before {
  content: attr(data-step);
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-size: 100%;
  @include u-bg('orange-warm-50');
  @include u-text('white');
}

.chp-quote {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  @include u-padding(2);
  @include u-margin-y(2);
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 .5rem;
}

.chp-rolenav {
  @include u-margin-y(3);
}

.chp-phasenav,
.chp-rolenav {
  &__title {
    @include u-margin-y(1);
    color: color('blue-cool-50v');
    text-transform: uppercase;
  }
}

.chp-article-sidenav__container {
  @include at-media('desktop') {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
  }
}

.chp-phase-meta {
  &__title {
    margin-top: units(3);
    color: color('blue-cool-50v');
    text-transform: uppercase;
  }

  &__desc {
    margin-top: units(1);
  }
}

.chp-page-list {
  &__title {
    @include u-font-size('body', 'md');
  }

  &__desc {
    margin: 0 0 units(2) 0;
  }
}

.chp-agenda {
  th {
    width: 15%;
  }
  td {
    width: 85%;
  }
}

.chp-nested-list ul {
  margin: .5em 0 1em 0;
}
