/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Our title is a bit long
.usa-header--basic .usa-navbar {
  @include at-media(desktop) {
    width: 40%;
  }
}

.chp-home {
  margin-top: units(4);

  &__row {
    margin-bottom: units(5);
  }

  &__diagram {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;

    @include at-media(tablet-lg) {
      max-width: inherit;
    }
  }

  &__sub-title {
    @include u-font-size('body', 'sm');
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 400;
  }

  &__lead {
    @include u-font-family('serif');
    @include u-font-size('body', 'md');
  }

  &__button {
    margin-bottom: units(5);
  }
}

.chp-home-read-more {
  display: flex;
  align-items: center;
  margin-top: units(1);

  &__figure {
    padding-right: units(2);

    svg {
      width: 1.5rem;
      fill: color('primary');
    }
  }
}

.chp-home-features {
  &__row {
    @include grid-row();
    @include grid-gap(3);
  }

  &__container {
    @include u-margin-y(2);

    @include at-media('tablet') {
      @include grid-col(6);
    }
    @include at-media('tablet-lg') {
      @include grid-col(4);
    }
  }
}

.chp-home-featured {
  display: block;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
  transition: all 0.333s ease-out 0s;
  border-radius: 4px;
  text-decoration: none;
  @include u-text('black');
  @include u-padding(3);

  &:visited {
    @include u-text('black');
  }

  &:hover {
    transform: translate3d(0px, -1px, 0px);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px, rgba(0, 0, 0, 0.18) 0px 4px 11px;
  }

  &__figure {
    flex-shrink: 0;
    margin: 0;
    @include u-padding-y(3);

    svg {
      width: 4rem;
      fill: color('primary');
    }

    &.is-astronaut svg {
      height: 4rem;
    }
  }

  &__body {
    flex: 1;
    min-width: 0;
    @include u-font-size('body', 'md');
  }
}

.chp-banner--beta {
  background-color: color($theme-color-chp-blue-lightest);

  &__tag {
    margin: units(1);
    background-color: color($theme-color-chp-blue);
  }

  &__body {
    display: flex;
    align-items: center;
    @include grid-container;
    margin: 0 auto;
    padding: units(1) units(2) units(1) units(1);
  }

  &__text {
    margin: 0 0 0 units(1);
    @include u-font-size('body', '2xs');
    max-width: inherit;
  }

  &__link {
    font-weight: bold;
    text-decoration: none;

    &:visited {
      color: color('blue-60v');
    }
  }
}

.chp-article {
  padding: units(4) 0;

  @include at-media(desktop) {
    padding: units(6) 0;
    min-height: 70vh;
  }
}

.chp-article .chp-toolkit,
.chp-article .chp-highlight {
  @include u-margin-y(6);

  &__list {
    column-count: 2;
    column-gap: units(2);
    break-inside: avoid;
  }
}

.chp-article .chp-toolkit {
  &__title {
    position: relative;
    color: color($theme-color-chp-blue-dark);
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      height: 4px;
      top: -1rem;
      left: 0px;
      width: 100%;
      background-color: color($theme-color-chp-blue-dark);
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__item {
    margin-bottom: units(1);
  }

  &__link {
    svg {
      width: 22px;
      padding-right: units(1);
      fill: color('primary');
      vertical-align: middle;
    }
  }
}

.chp-article .chp-highlight {
  @include u-padding(2);
  background-color: color($theme-color-chp-blue-lightest);
  border-radius: 3px;
}

.chp-meta {
  padding: 0;

  @include at-media('desktop') {
    padding: 0;
  }

  &__title {
    margin-top: units(3);
    color: color($theme-color-chp-blue-dark);
    text-transform: uppercase;
  }

  &__desc {
    margin-top: units(1);
  }

  &__item-checklist {
    padding-left: units(1);
    list-style-image: url(../img/correct9.svg);
  }
}

.process-steps h3 {
  position: relative;
  padding-left: units(5);
}

.process-steps h3:before {
  content: attr(data-step);
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-size: 100%;
  @include u-bg($theme-color-chp-green-dark);
  @include u-text('white');
}

.chp-quote {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  @include u-padding(2);
  @include u-margin-y(2);
}

.chp-process {
  &__diagram {
    @include at-media('desktop') {
      margin-top: 30rem; // roughly aligns the process diagram with the relevant text
    }
  }
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 .5rem;
}

.chp-rolenav {
  @include u-margin-y(3);
}

.chp-phasenav,
.chp-rolenav {
  &__title {
    @include u-margin-y(1);
    color: color($theme-color-chp-blue-dark);
  }
}

.chp-article-sidenav__container {
  @include at-media('desktop') {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
  }
}

.chp-page-list {
  &__title {
    @include u-font-size('body', 'lg');
    font-weight: bold;
    margin: units(3) 0 units(2) 0;
  }

  &__desc {
    margin: 0 0 units(2) 0;
  }
}

.chp-page-list--process {
  &__title {
    @include u-font-size('heading', 'lg');

    a {
      @include permaLink();
    }
  }
}

.chp-agenda {
  th {
    width: 15%;
  }
  td {
    width: 85%;
  }
}

.chp-nested-list ul {
  margin: .5em 0 1em 0;
}

.chp-breadcrumb {
  border-bottom: 1px solid color('gray-cool-10');

  &__body {
    @include grid-container();
  }

  .chp-breadcrumb &__list {
    display: block;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: units(2) auto;
  }

  &__item {
    display: inline-block;
    @include u-font-size('body', '2xs');
    margin: 0;
  }

  &__link {
    @include permaLink();
    text-decoration: none;
  }
}

.chp-checklist,
.usa-prose .chp-checklist {
  list-style-image: url('../img/bullet-sq.svg');

  li {
    margin: units(2) 0;
  }
}

.chp-footer {
  .usa-footer__secondary-link a {
    @include permaLink();
  }

  &__changelog-link {
    display: block;
    @include u-padding-y(2);
    @include permaLink();
  }
}

.chp-footer-secondary {
  background-color: color($theme-color-chp-blue);
  color: #fff;

  &__logo {
    width: 5rem;
    max-width: inherit;
  }
}

.chp-footer-secondary .chp-footer-secondary__link {
  color: #fff;
  @include permaLink(#fff);
}

.chp-card {
  @include card();
  display: flex;
  width: 100%;
  margin: 0 0 units(2) 0;
  align-items: flex-start;
  text-decoration: none;
  @include u-radius('md');

  @include at-media(tablet) {
    margin: 0 0 units(2) 0;
    min-height: 195px;
  }

  &:hover {
    transform: translate3d(0px, -1px, 0px);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px, rgba(0, 0, 0, 0.18) 0px 4px 11px;
  }

  &__figure {
    flex-shrink: 0;
    align-items: center;
    padding-right: units(3);
  }

  &__figure svg,
  &__figure img {
    width: 8rem;
  }

  &__figure svg {
    fill: color('primary');
  }

  &__body {
    flex: 1;
    min-width: 0;

    p {
      color: color('ink');
    }
  }

  &__header {
    text-transform: uppercase;
    color: color('base-darker');
    @include u-font-size('body', 'md');
  }
}

.chp-card--wide {
  @include at-media(desktop) {
    width: 100%;
    margin: 0 0 units(2) 0;
    min-height: inherit;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  padding: 0;
}

.chp-about-logos {
  clear: both;
  margin: units(4) 0;
  text-align: center;

  img {
    max-width: 200px;
    float: left;
    padding: units(2);

    @include at-media(desktop) {
      float: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.chp-card-container {
  padding: 0;

  @include at-media(desktop) {
    padding: 0;
  }
}

.chp-overview {
  &__title {
    margin: units(4) 0 units(2);
  }

  &__diagram {
  }
}

.chp-time-commitment {
  &__hours {
    font-weight: bold;
  }

  &__phase {
    margin-left: 0;
    margin-bottom: units(2);
  }

  &__paren {
    @include u-font-size('body', '2xs');
  }
}

.smeqa-timeline {
  width: 100%;

  .smeqa-timeline &__header {
    background-color: color($theme-color-chp-red-warm);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #fff;
    min-width: 100px;
  }

  .smeqa-timeline &__data {
    border-color: color($theme-color-chp-gray-light);

    ul {
      margin-top: 0;
    }
  }
}

.smeqa-sme-selection-checklist {
  &__list {
    @include add-list-reset();
  }

  &__item {
    @include clearfix();
    margin: 0;
  }

  &__container {
    margin-left: units(1);
  }

  &__label {
    display: block;
    float: left;
    margin: .5rem 0 .5rem 1.5rem;

    input[type="checkbox"] {
      margin-left: -1.5rem;
    }
  }
}

.smeqa-brief {
  padding: units(4) 0;

  @include at-media(desktop) {
    padding: units(6) 0;
  }

  &__title,
  &__sub-title,
  &__header {
    color: color($theme-color-primary-dark);
  }

  &__sub-title {
    font-style: italic;
    @include u-font-size('body', $theme-h3-font-size);
  }

  &__header {
    text-transform: uppercase;
    @include u-font-size('body', $theme-h4-font-size);
  }

  &__row {
    margin-bottom: units(4);
  }

  &__phase-title {
    font-weight: bold;
  }

  &__phase-container {
    margin-bottom: units(4);
  }

  &__phase-list {
    counter-reset: my-counter;
    list-style: none;
    padding-left: 40px;
  }

  &__phase-item {
    position: relative;
    counter-increment: my-counter;
    margin: 0 0 0.5rem 0;
  }

  &__phase-item::before {
    content: counter(my-counter);
    color: color($theme-color-primary-dark);
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    top: 0;
  }

  &__phase-item::after {
    content: "|";
    position: absolute;
    --size: 48px;
    width: var(--size);
    height: var(--size);
    left: calc(-1 * var(--size) + 14px);
    top: 10px;
    color: color($theme-color-primary-dark);
    font-size: 1.8rem;
    transform: rotate(38deg);
  }
}

.smeqa-brief__row .smeqa-brief-hiring-actions {
  margin: units(4) 0;

  @include at-media(tablet) {
    margin: 0;
  }

  @include at-media(desktop) {
    padding: 0 0 0 units(3);
    border-left: 1px dashed color($theme-color-chp-gray);
  }
}

.smeqa-brief-hiring-actions {
  &__header {
    text-transform: uppercase;
    @include u-font-size('body', $theme-h4-font-size);
    color: color($theme-color-accent-warm-dark);
    border-bottom: 1px solid color($theme-color-accent-warm-dark);
  }

  &__logos {
    clear: both;
    text-align: center;

    img {
      max-width: 125px;
      float: left;
      padding: 0 units(2) units(2);
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    display: inline-block;
    width: 32%;
    margin: 0;
    padding: units(2);
    text-align: center;
    
    @include at-media(tablet) {
      padding: 0;
    }
  }

  &__stat {
    display: block;
    @include u-font-size('body', $theme-h2-font-size);
    color: color($theme-color-chp-blue);
  }
}

.smeqa-brief-hiring-action {
  &__title {
    color: color($theme-color-primary-dark);
    text-transform: uppercase;
  }

  &__stats-nested {
    margin-top: 0;
  }
}