/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Our title is a bit long
.usa-header--basic .usa-navbar {
  @include at-media(desktop) {
    width: 40%;
  }
}

.chp-hero {
  @include u-bg('orange-warm-50');
  // matches the green we used in the diagram even though it isn't in the system
  // background-color: #2E8540;

  &__body {
    @include u-padding-y(4);
  }

  &__title,
  &__desc {
    @include u-text('white');
  }
}

.process-steps h3 {
  position: relative;
  padding-left: units(5);
}

.process-steps h3:before {
  content: attr(data-step);
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-size: 100%;
  @include u-bg('orange-warm-50');
  @include u-text('white');
}

.chp-quote {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  @include u-padding(2);
  @include u-margin-y(2);
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 .5rem;
}

.chp-rolenav {
  @include u-margin-y(3);
}

.chp-phasenav,
.chp-rolenav {
  &__title {
    @include u-font-family('sans');
    @include u-margin-y(1);
  }
}

.chp-page-list {
  &__title {
    @include u-font-size('body', 'md')
  }

  &__desc {
    margin: 0 0 units(2) 0;
  }
}

.chp-agenda {
  th {
    width: 15%;
  }
  td {
    width: 85%;
  }
}

.chp-nested-list ul {
  margin: .5em 0 1em 0;
}
