// ----------------------------------------
// SME-QA: Resume Review layout

@import 'uswds-theme-general';
@import 'uswds-theme-typography';
@import 'uswds-theme-spacing';
@import 'uswds-theme-color';
@import 'uswds-theme-utilities';
@import 'uswds';

.smeqa-cx {
  &__hero {
    background-image: none;
    background-color: color($theme-color-chp-blue-darkest);
  }

  &__agencies {
    margin: 1.5rem 0 1rem 0;

    @include at-media('tablet') {
      margin-top: 0;
    }
  }
}

.usa-header--basic .usa-navbar.smeqa-cx-header {
  @include at-media('desktop') {
    width: 50%;
  }
}

.smeqa-cx-agency {
  margin: 3rem 0 0;
  border-top: 4px solid color($theme-color-base-dark);

  &__name {
    padding: 1rem 0 0;
    @include u-font-family('serif');
    @include u-font-size('body', 'sm');
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 400;
    color: color($theme-color-base-darker);
  }

  &__po {
    margin: .5rem 0;
    @include u-font-size('body', 'lg');
    line-height: 1.3;
  }

  &__summary {
    max-width: inherit;
  }

  &__header {
    display: block;
    color: color($theme-color-chp-blue-darkest);
  }

  &__overview {
    @include at-media('tablet') {
      @include grid-row;
      @include grid-gap;
    }
  }

  &__locations,
  &__details {
    @include at-media('tablet') {
      @include grid-col(6);
    }
  }
}

.smeqa-cx-agency-position {
  &__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__header {
    margin-bottom: .5rem;
    margin-top: 1rem;
  }

  &__location {
    margin: .5rem 0;
  }

  &__item {
    display: block;
  }

  &__value {
    margin-top: 0;
    margin-bottom: .5rem;
  }
}
