---
layout: default
section: about
permalink: /about/our-process/
title: The SME-QA Process
intro: The SME-QA process introduces subject matter experts (SMEs), in partnership with HR specialists as guides, to create and conduct interview assessments before an applicant is considered qualified. HR specialists protect merit principles and ensure that participants the documented assessment strategy is applied consistently.
---

{% include _banner-beta.html %}

<main id="main-content" role="main" class="usa-layout-docs usa-section chp-article">
  <div class="grid-container margin-bottom-7">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1>{{ page.title }}</h1>
        <p class="usa-intro">
          {{ page.intro }}
        </p>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-row">
      <a href="{{ site.baseurl }}/hiring-phases/getting-started/" class="chp-card chp-card--wide">
        <div class="chp-card__figure">
          {% include svg/rocket.svg %}
        </div>
        <div class="chp-card__body">
          <h2 class="chp-card__header chp-card--wide__header">
            1. Getting Started
          </h2>
          <p>
            When you've decided to use the SME-QA process to find qualified applicants, you can plan your hiring action.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-6">
        <a href="{{ site.baseurl }}/hiring-phases/assessment-strategy/" class="chp-card">
          <div class="chp-card__figure">
            {% include svg/chess.svg %}
          </div>
          <div class="chp-card__body">
            <h2 class="chp-card__header">
              2. Assessment Strategy
            </h2>
            <p>
              Describe your intended process for each phase of your hiring action.
            </p>
          </div>
        </a>
      </div>
      <div class="desktop:grid-col-6">
        <a href="{{ site.baseurl }}/hiring-phases/job-analysis/" class="chp-card">
          <div class="chp-card__figure">
            <img src="{{ site.baseurl }}/assets/img/icon-job-analysis-workshop.png" alt="People sitting around a table" />
          </div>
          <div class="chp-card__body">
            <h2 class="chp-card__header">
              3. Job analysis workshop
            </h2>
            <p>
              Conduct a two-day job analysis workshop with HR and SMEs to develop your assessments.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-6">
        <a href="{{ site.baseurl }}/hiring-phases/job-announcement/" class="chp-card">
          <div class="chp-card__figure">
            <img src="{{ site.baseurl }}/assets/img/icon-usajobs.png" alt="Depiction of a usajobs.gov job announcement" />
          </div>
          <div class="chp-card__body">
            <h2 class="chp-card__header">
              4. Job Announcement
            </h2>
            <p>
              Post an accurate and compelling job announcement to attract the most qualified applicants.
            </p>
          </div>
        </a>
      </div>
      <div class="desktop:grid-col-6">
        <a href="{{ site.baseurl }}/hiring-phases/reviewing-resumes/" class="chp-card">
          <div class="chp-card__figure">
            <img src="{{ site.baseurl }}/assets/img/icon-resume-review.png" alt="People and a stack of resumes" />
          </div>
          <div class="chp-card__body">
            <h2 class="chp-card__header">
              5. Resume Review
            </h2>
            <p>
              Two SMEs review each resume against the core competencies and proficiencies.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-6">
        <a href="{{ site.baseurl }}/hiring-phases/phone-assessment-interviews/" class="chp-card">
          <div class="chp-card__figure">
            <img src="{{ site.baseurl }}/assets/img/icon-phone-interviews.png" alt="Depiction of job applicants" />
          </div>
          <div class="chp-card__body">
            <h2 class="chp-card__header">
              6. Phone Interviews
            </h2>
            <p>
              SMEs conduct up to two rounds of phone interviews to determine which applicants meet the minimum qualifications.
            </p>
          </div>
        </a>
      </div>
      <div class="desktop:grid-col-6">
        <a href="{{ site.baseurl }}/hiring-phases/certificate/" class="chp-card">
          <div class="chp-card__figure">
            <img src="{{ site.baseurl }}/assets/img/icon-issuing-certificate.png" alt="Depiction of candidates being ranked" />
          </div>
          <div class="chp-card__body">
            <h2 class="chp-card__header">
              7. Issuing certificate
            </h2>
            <p>
              HR applies veterans' preference and applies category ratings.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
