---
layout: default
description: During a typical competitive delegated examining hiring process, human resource (HR) specialists review resumes and occupational questionnaires to determine whether applicants are minimally qualified for a role. Agencies often conduct outreach and recruitment for technical positions and are concerned when they receive certificates without truly qualified applicants to select from.
section: home
permalink: /
---

{% include _banner-beta.html %}
<div class="grid-container margin-y-5">
  <h1 class="chp-hero__title">Subject Matter Expert Qualification Assessments (SME-QA)</h1>
  <p class="chp-hero__desc">
    {{ page.description }}
  </p>
  <p>
    With the SME-QA alternative, SMEs partner with HR specialists to create and conduct interview assessments before considering an applicant qualified and applying veterans’ preference. The SME-QA process is recommended for GS-12 or higher technical positions (not limited to IT) with at least five vacancies for the same role where applicant volume can be limited to approximately 100 applicants.
  </p>
</div>
<div class="grid-container chp-home-features">
  <div class="grid-row chp-home-features__row">
    <div class="chp-home-features__container">
      <a class="chp-home-featured" href="{{ site.baseurl }}/about/our-process/">
        <h4 class="chp-home__sub-title">Learn more</h4>
        <div class="chp-home-featured__figure">
          {% include svg/users.svg %}
        </div>
        <div class="chp-home-featured__body">
          <p>
            Learn what it takes to qualify applicants using the Subject Matter Expert Qualification Assessment (SME-QA) process.
          </p>
        </div>
      </a>
    </div>
    <div class="chp-home-features__container">
      <a class="chp-home-featured" href="{{ site.baseurl }}/hiring-phases/getting-started/">
        <h4 class="chp-home__sub-title">Get started</h4>
        <div class="chp-home-featured__figure">
          {% include svg/play-circle.svg %}
        </div>
        <div class="chp-home-featured__body">
          <p>
            When you've decided to find qualified applicants using the SME-QA process, you can plan your hiring action.
          </p>
        </div>
      </a>
    </div>
    <div class="chp-home-features__container">
      <a class="chp-home-featured" href="{{ site.baseurl }}/case-studies/">
        <h4 class="chp-home__sub-title">Case studies</h4>
        <div class="chp-home-featured__figure">
          {% include svg/check-circle.svg %}
        </div>
        <div class="chp-home-featured__body">
          <p>
            Read case studies on agencies that have used the SME-QA process to find talented applicants thus far.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
