---
layout: default
description: The United States Digital Service and OPM are transforming federal hiring. Our pilot process will help us learn how to streamline the competitive hiring process while upholding the merit systems principles.
section: home
permalink: /
---

<div class="chp-home-hero">
  <div class="grid-container chp-home-hero__body">
    <h4 class="chp-home__sub-title">The problem we are solving</h4>
    <p class="usa-intro chp-home-hero__callout">
      For technical positions in the competitive service, <strong>hiring managers often cannot select truly qualified candidates</strong> from the certificate.
    </p>
    <div class="chp-home-certs__container">
      <div class="grid-row">
        <div class="chp-home-certs">
          <h2 class="chp-home-certs__stat">&gt; 50%</h2>
          <h4 class="chp-home-certs__desc">Certificates canceled</h4>
        </div>
        <div class="chp-home-certs">
          <h2 class="chp-home-certs__stat">~ 2/3</h2>
          <h4 class="chp-home-certs__desc">Technical role certificates canceled</h4>
        </div>
      </div>
    </div>

    <p class="chp-home-hero__lead">
      <strong>
        Only ~20% of employees were hired via delegated examining into the competitive service in 2017.
      </strong>
    </p>
  </div>
</div>
{% include _banner-beta.html %}
<div class="grid-container margin-y-5">
  <h1 class="chp-hero__title">USDS + OPM Competitive Hiring Pilot</h1>
  <p class="chp-hero__desc">
    {{ page.description }}
  </p>
</div>

<div class="grid-container chp-home-features">
  <div class="grid-row chp-home-features__row">
    <div class="chp-home-features__container">
      <a class="chp-home-featured" href="{{ site.baseurl }}/overview/understanding-pre-qualification/">
        <h4 class="chp-home__sub-title">Learn more</h4>
        <div class="chp-home-featured__figure">
          {% include svg/users.svg %}
        </div>
        <div class="chp-home-featured__body">
          <p>
            Learn more about Pre-Qualification: A Subject-Matter-Expert driven process
          </p>
        </div>
      </a>
    </div>
    <div class="chp-home-features__container">
      <a class="chp-home-featured" href="{{ site.baseurl }}/hiring-phases/job-analysis/">
        <h4 class="chp-home__sub-title">Get started</h4>
        <div class="chp-home-featured__figure">
          {% include svg/play-circle.svg %}
        </div>
        <div class="chp-home-featured__body">
          <p>
            Start with job analysis and follow our guide all the way through to a certificate filled with qualified candidates that you want to hire.
          </p>
        </div>
      </a>
    </div>
    <div class="chp-home-features__container">
      <a class="chp-home-featured" href="{{ site.baseurl }}/case-studies/hhs/">
        <h4 class="chp-home__sub-title">Case studies</h4>
        <div class="chp-home-featured__figure">
          {% include svg/check-circle.svg %}
        </div>
        <div class="chp-home-featured__body">
          <p>
            Read case studies on our work thus far.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
