<h3 class="smeqa-brief__header">Five Phases</h3>
<ol class="smeqa-brief__phase-list">
  <li class="smeqa-brief__phase-item">
    <span class="smeqa-brief__phase-title">Job Analysis Workshop:</span> Conduct a two-day job analysis workshop to develop the job qualifications and assessments. HR, SMEs, and hiring manager identify and define the required competencies and proficiency levels for the position. The team writes two sets of structured interview questions to be used later in the assessment process.
  </li>
  <li class="smeqa-brief__phase-item">
    <span class="smeqa-brief__phase-title">Job Announcement:</span> Use the results of the job analysis workshop to bridge a standard position description into a job announcement that is an accurate and compelling representation of the position. In addition, to reach potential applicants who may not visit USAJOBS, consider posting on other applicable job boards.
  </li>
  <li class="smeqa-brief__phase-item">
    <span class="smeqa-brief__phase-title">Reviewing Resumes:</span> HR specialists remove applicants who did not include a resume or are ineligible due to citizenship requirements. After this limited step, two SMEs independently review each remaining resume to determine whether they adequately reflect the core competencies and proficiencies to warrant the first of two phone assessment interviews.
  </li>
  <li class="smeqa-brief__phase-item">
    <span class="smeqa-brief__phase-title">Assessments:</span> SMEs conduct up to two rounds of assessments (eg. live or recorded phone interviews, review of written exam or work simulation) to assess remaining applicants against the required competencies and proficiencies, with a single SME conducting each assessment. Applicants who meet the minimum qualifications move on to a second assessment with a
    different SME. Applicants who receive an overall passing score after two assessments are considered minimally qualified.
  </li>
  <li class="smeqa-brief__phase-item">
    <span class="smeqa-brief__phase-title">Issuing a Certificate:</span> When SMEs complete the minimum qualification assessments, HR specialists can adjudicate veterans’ preference and assign categories based on whether the applicant met or exceeded the requirements during the assessments. After hiring managers receive a hiring certificate, they can either conduct additional interviews or make selections based on transcripts from phone assessment interviews or other assessment information. 
  </li>
</ol>
