---
layout: article
permalink: /hiring-phases/assessment-strategy/
section: hiring-phases
sidenav: hiring-phases
phase: assessment-strategy
title: Assessment Strategy
intro: Describe your intended process for each phase of your hiring action, including how you'll conduct job analysis, what you'll describe to applicants in your JOA, how you'll conduct resume reviews and phone assessment interviews, and how you'll issue certificates. You'll include your assessment strategy in the case file for your hiring action, and MSAC will refer to it should they have questions about how applicants were assessed.
roles: [hr, hiring-mgr, sme]
duration: 1 day (8 hours)
outputs:
  - Completed assessment strategy document, with appendices, attached to hiring action case file
---

<p class="usa-intro">
  {{ page.intro }}
</p>

{% include phase-meta.html %}

<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  {% include toolkit/assessment-strategy.html %}
</div>

<h2>Key Questions for SMEs</h2>
<p>
  Over the course of the <a href="../job-analysis/">job analysis workshop</a>, participating SMEs will document job tasks, develop core competencies and proficiencies, and create interview assessment questions for your hiring action. While they're together, keep in mind that they should also make these key decisions about   the assessment strategy.
</p>

<h3 id="resume-review-page-count">Number of reviewed resume work experience pages</h3>
<p>
  While private sector guidance for writing resumes recommends shorter resumes, federal-style resumes can be anywhere from 10 to 100 pages long. These lengths take longer for SMEs to review in order to find evidence of the required competencies. In addition, shorter, more brief private sector resumes can unwittingly bias an SME to think that there's not enough information to make a determination.
</p>
<p>
  To mitigate these issues, ask SMEs <strong>how many pages of work experience they will review on each resume applicants submit</strong>. We recommend limiting reviewed pages to two or three at most. If an applicant submits a longer resume, they will not be penalized; rather, SMEs will simply not review past the documented limit.
</p>
<p>
  Include the agreed-upon page limit in both your assessment strategy and your <a href="../job-announcement/">job announcement</a>
</p>

<h2>Tech recency requirements</h2>
<p>
  Technology changes quickly, and depending on the needs of your agency, SMEs may determine that applicants should demonstrate knowledge of modern technical methods, platforms, and languages within a certain number of the most recent years. We recommend that this type of technical recency be documented at between three and five years.
</p>
<p>
  Include the agreed-upon technical recency requirement in both your assessment strategy and your <a href="../job-announcement/">job announcement</a>.
</p>
