---
layout: article
permalink: /hiring-phases/assessment-strategy/
section: hiring-phases
sidenav: hiring-phases
phase: assessment-strategy
title: Assessment Strategy
intro: Describe your intended process for each phase of your hiring action, including how job analysis was conducted and the results, what you'll describe to applicants in your job announcment, how you'll conduct resume reviews and phone assessment interviews, and how you'll issue certificates.
roles: [hr, hiring-mgr, sme]
duration: 2-4 hours
outputs:
  - Completed assessment strategy document, with appendices.
---

<p class="usa-intro">
  {{ page.intro }}
</p>

{% include phase-meta.html %}

<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  <p>
    Use the <a href="{{ site.baseurl }}/toolkit/assessment-strategy/assessment-strategy-template.docx" target="_blank">assessment strategy template</a> to document your assessment strategy for your current hiring action. Make sure you're comfortable with the strategy because you'll <a href="{{ site.baseurl }}/hiring-phases/job-analysis/">finalize some remaining details with SMEs during the job analysis workshop</a>.
  </p>
  <p>
    In addition to the Assessment strategy template document, <strong>download the items in the toolkit</strong>, customize them for your hiring action, and include them in your case file. Your assessment strategy is the documentation you provide to auditors who may review your hiring action later.
  </p>
  {% include toolkit/assessment-strategy.html %}
</div>

{% assign page-list = '' | split: '' %}
{% assign sub-pages = site.pages | where: "phase","assessment-strategy" | sort: "sub-phase-order" %}
{% for sub-page in sub-pages %}
  {% if sub-page.sub-phase-order %}
    {% assign page-list = page-list | push: sub-page %}
  {% endif %}
{% endfor %}

{% for sub-page in page-list %}
  <h3>
    <a href="{{ site.baseurl }}{{ sub-page.permalink }}">{{ sub-page.title }}</a>
  </h3>
  <p>
    {{ sub-page.intro }}
  </p>
{% endfor %}

<h3>The authority for SME-QA</h3>
<p><a href="{{ site.baseurl }}/about/authority/">Read more on the authority agencies have been granted by OPM to use this process.</a></p>

<h3 id="illegal">Keep it legal: What not to do</h3>
<ul>
  <li>Do not set quotas for the maximum number of applicants who may pass from one phase to another.</li>
  <li>If you have more than one interview then they must measure two different things. This allows you to disqualify applicants from the second interview if they don't pass the first. For example:
    <ul>
      <li>"Breadth of knowledge" and "depth of knowledge"</li>
      <li>Core competencies and specialty competencies</li>
      <li>First half of competencies and second half of competencies</li>
    </ul>
  </li>
  <li>In order to use a pass fail assessment, you must explain this to applicants in the <a href="{{ site.baseurl }}/hiring-phases/job-announcement/creating-job-announcement#example-how-you-will-be-evaluated">"How You Will Be Evaluated" section of your job announcement</a>. Once the announcement is posted, you cannot change this process.</li>
  <li>Any pass/fail assessment, including structured interviews, must be developed with SMEs in coordination with Agency  HR Specialists with measurement expertise, and/or Industrial/Organizational (I/O) Psychologists if available, in order validate the assessments.</li>
  <li>If you are hiring using a Direct Hire Authority and using the SME-QA process, you may not assign category ratings or apply veterans' preference. Instead, SME resume review and structured interviews are all pass/fail against the minimum qualification bar only.</li>
  <li>If you are hiring using Merit Promotion and using the SME-QA process, you must first look at your collective bargaining agreement and/or merit promotion plan to see if they are consistent with the SME-QA process.</li>
  <li>In order to prevent bias, Hiring Managers who are selecting officials on the hiring action <a href="https://www.chcoc.gov/content/improving-federal-hiring-through-use-effective-assessment-strategies-advance-mission">may not serve as SMEs for resume review or interviews that have passing scores</a> (see page 4).</li>
</ul>


<h3>Using Alternative Assessment Hurdles</h3>
<p>
  Your assessment strategy should clearly define the assessment hurdles you'll use for your hiring action. While SME-QA was originally designed to use two structured interview assessments, depending on the results of job analysis you may include additional assessment hurdles to measure an applicant's competencies. For example:
</p>
<ul>
  <li>A portfolio review and an interview</li>
  <li>A short writing exercise and an interview</li>
  <li>Another combination of assessment types</li>
</ul>
<p>
  You should discuss options thoughtfully with hiring managers before the job analysis workshop, then plan the content of the assessments with SMEs during that workshop.
</p>
