---
layout: article
permalink: /hiring-phases/assessment-strategy/
section: hiring-phases
sidenav: hiring-phases
phase: assessment-strategy
title: Assessment Strategy
intro: Describe your intended process for each phase of your hiring action, including how you'll conduct job analysis, what you'll describe to applicants in your JOA, how you'll conduct resume reviews and phone assessment interviews, and how you'll issue certificates.
roles: [hr, hiring-mgr, sme]
duration: 2-4 hours
outputs:
  - Completed assessment strategy document, with appendices. Some remaining details must be completed with SMEs during the job analysis workshop.
---

<p class="usa-intro">
  {{ page.intro }}
</p>
{% include phase-meta.html %}
<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  <p>
    Use the <a href="{{ site.baseurl }}/toolkit/assessment-strategy/assessment-strategy-template.docx" target="_blank">assessment strategy template</a> to document your assessment strategy for your current hiring action. Make sure you're comfortable with the strategy because you'll <a href="{{ site.baseurl }}/hiring-phases/job-analysis/">finalize some remaining details with SMEs during the job analysis workshop</a>.
  </p>
  <p>
    In addition to the Assessment strategy template document, <strong>download the items in the toolkit</strong>, customize them for your hiring action, and include them in your case file.
  </p>
  {% include toolkit/assessment-strategy.html %}
</div>

<h3>How Your Assessment Strategy is Used</h3>
<p>
  Your assessment strategy is the documentation you provide to auditors who may review your hiring action later. In addition, you communicate it to people reviewing your job announcement in the "How You Will Be Evaluated" section of your JOA, like so:
</p>
<blockquote>
  <p>
    The technical qualifications for this position will be evaluated by subject matter experts. Apply only if you meet the qualifications. If you are not selected for this position you may be considered for similar positions at the agency within 90 days.
  </p>
  <p>1. Resume review</p>
  <p>
    Subject matter experts will review the first three pages of your resume to determine your technical qualifications for your chosen role(s) based on the required competencies.
  </p>
  <p>
    2. Qualifying phone interviews
  </p>
  <p>
    If the subject matter experts determine that your resume reflects the required competencies, you will have at least one phone interview to further assess whether your experience meets the required competencies for your chosen role(s). You may meet with more than one subject matter expert for a determination to be made.
  </p>
  <p>
    3. Ranking and preference
  </p>
  <p>
    Preference will be applied to applicants who move forward after the qualifying phone interviews.
  </p>
</blockquote>
<p>
  For an example, see the <a href="https://www.usajobs.gov/GetJob/ViewDetails/529652500" target="_blank">Health and Human Services job announcement</a>.
</p>

<h3>Changing Your Assessment Strategy</h3>
<p>
  If you find that something in your assessment strategy isn't working after your hiring action has begun, in most cases you may change it by clearly documenting your amendment and including it in your case file, with these exceptions:
</p>
<ul>
  <li>You may not change anything that's described to applicants in the "How You Will Be Evaluated" section of your job announcement, such as changing the number of resume pages that SMEs will review or adding an additional examination type.</li>
  <li>You may <strong>not</strong> enact a maximum number of applicants who may pass from one phase to another.</li>
</ul>
