---
layout: article
permalink: /hiring-roles/sme/
section: hiring-roles
title: Subject Matter Experts (SMEs)
---

<h2>Tasks</h2>

{% assign tasks = site.sme-tasks | where: "role","sme" %}
<dl class="chp-page-list">
  {% for task in tasks %}
  <dt class="chp-page-list__title"><a href="{{ site.baseurl }}{{ task.permalink }}">{{ task.title }}</a></dt>
  <dd class="chp-page-list__desc">{{ task.description }}</dd>
  {% endfor %}
</dl>

<h2>Rating Guide</h2>
<dl class="chp-page-list">
{% assign guides = site.rating-guide %}
{% for guide in guides %}
<dt class="chp-page-list__title"><a href="{{ site.baseurl }}{{ guide.permalink }}">{{ guide.title }}</a></dt>
<dd class="chp-page-list__desc">{{ guide.description }}</dd>
{% endfor %}
</dl>
