---
layout: article
permalink: /hiring-phases/getting-started/
section: hiring-phases
title: Getting Started
sidenav: hiring-phases
phase: getting-started
intro: After deciding to use the SME-QA process to find qualified applicants, plan your hiring action.
roles: [hr, hiring-mgr]
outputs:
  - Baseline data on recent delegated examination (DE) hiring actions (Current qualified rate, referral rate, and selection rate)
  - A classified position description (PD) at the proper GS level
  - A complete list of the vacancies to be filled for the hiring action
  - An identified hiring manager ready to allocate their SMEs time developing and using qualification assessments
  - An identified point of contact at your agency who will be accountable for the hirnig action
  - SME selection criteria, created with the hiring manager for the hiring action
  - A list of sufficient best in class SMEs for the size of your hiring action
  - Develop minimum qualifications with a required proficiency level that are competency based. 
      - Even if there is an education requirement, the applicant must still prove they meet the required proficiency level for each competency through qualification assessments in ordered to be considered eligible
best practice:
  - SME-QA should generally be used for specialized technical roles at GS level 12 to 15
  - When identifying a hiring manager, they should generally be unsatisified with the quality of previous hiring certificates for the same grade and series
  - Host a kick off meeting with SMEs, HR, and hiring managers to ensure everyone is aligned on the process, goals, and time commitment.
  - During hiring action, track and measure the hiring funnel (Number of applicants who pass each qualification assessment and number of selections from the hiring certificate) & elapsed assessment time (track the start and end time for each assessment hurdle)
pro-tips:
  - If a kick-off meeting is not an option, email overview presentation of the process to SMEs, HR, and hiring managers.
  - Spend minimal effort reclassifying a PD. The job analysis is the bridge between the PD and job announcement.
---

<p class="usa-intro">
  {{ page.intro }}
</p>

{% include phase-meta.html %}

<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  {% include toolkit/getting-started.html %}
</div>

{% assign page-list = '' | split: '' %}
{% assign sub-pages = site.pages | where: "phase","getting-started" | sort: "sub-phase-order" %}
{% for sub-page in sub-pages %}
  {% if sub-page.sub-phase-order %}
    {% assign page-list = page-list | push: sub-page %}
  {% endif %}
{% endfor %}

{% for sub-page in page-list %}
  <h3>
    <a href="{{ site.baseurl }}{{ sub-page.permalink }}">{{ sub-page.title }}</a>
  </h3>
  <p>
    {{ sub-page.intro }}
  </p>
{% endfor %}
