---
layout: article
permalink: /hiring-phases/getting-started/
section: hiring-phases
title: Getting Started
sidenav: hiring-phases
phase: getting-started
intro: After deciding to use the SME-QA process to find qualified applicants, plan your hiring action.
roles: [hr, hiring-mgr]
outputs:
  - Baseline data on recent delegated examination (DE) hiring actions
  - A classified position description (PD) at the proper GS level
  - A complete list of the vacancies to be filled for the hiring action
  - An identified hiring manager and project manager
  - SME selection criteria, created with the hiring manager for the hiring action
  - A list of sufficient best in class SMEs for the size of your hiring action
---

<p class="usa-intro">
  {{ page.intro }}
</p>

{% include phase-meta.html %}

<div class="chp-toolkit">
  <h4 class="chp-toolkit__title">Toolkit</h4>
  {% include toolkit/getting-started.html %}
</div>

<h3>Core SMEQA Roles</h3>
<h4>HR Specialist</h4>
<p>
  HR Specialists will ____. You should have at least two HR specialists assigned to support the action, though one can be a backup in case of unexpected outage by the primary specialist.
</p>
<h4>Project Manager</h4>
<p>
  The project manager can be an HR specialist, but does not need to be. This role does tasks like scheduling trainings, keeping track of SMEs and hiring managers, creating template documents, and facilitaing interview scheduling. Project managers should be:
</p>
<ul class="usa-list">
  <li>Highly organized.</li>
  <li>Able to manage meeting/collaboration technology</li>
</ul>


{% assign page-list = '' | split: '' %}
{% assign sub-pages = site.pages | where: "phase","getting-started" | sort: "sub-phase-order" %}
{% for sub-page in sub-pages %}
  {% if sub-page.sub-phase-order %}
    {% assign page-list = page-list | push: sub-page %}
  {% endif %}
{% endfor %}

{% for sub-page in page-list %}
  <h3>
    <a href="{{ site.baseurl }}{{ sub-page.permalink }}">{{ sub-page.title }}</a>
  </h3>
  <p>
    {{ sub-page.intro }}
  </p>
{% endfor %}
